.idea/
data/tweets/
**.ipynb_checkpoints/
**/__pycache__
*.pyc
src/a2/data/font/
.coverage*
figures/
notebooks/**/*.csv
notebooks/**/*.json
notebooks/*.nc
*~
*.sif
*.coverage.*
*#*#
**/*.sif
*.txt
*.nc
models/
mlprojects/
bootcamp2022_data/
notebooks/fonts/
\#*\#
*.png
*.pickle
*.nc
*.npy
*.pdf
*.html
notebooks/tmp/
src/tests/unit/twitter/cassettes