.idea/
data/tweets/
data/old/
dist/
data/precipitation/
data/weather_stations/
data/embeddings/
data/bootcamp2023/
**.ipynb_checkpoints/
**/__pycache__
*.pyc
src/a2/data/font/
.coverage*
figures/
notebooks/**/*.csv
notebooks/**/*.json
notebooks/*.nc
*~
*.sif
*.coverage.*
*#*#
**/*.sif
*.txt
*.nc
models/
mlprojects/
bootcamp2022_data/
notebooks/fonts/
\#*\#
*.png
*.jpg
*.pickle
*.nc
*.npy
*.pdf
*.html
*.pt
*.onnx
cachedir/
notebooks/tmp/
src/tests/unit/twitter/cassettes
*.zip
share/
*.log
env*.sh
test.ipynb
mlruns/